LOGIN PAGE

<input placeholder="UserId" [(ngModel)]="this.userid"
type="text" 
class="input-field col s12">


<input placeholder="Password"  [(ngModel)]="this.password"
type="password" 
class="input-field col s12">
<div>
<button 
class="waves-effect waves-light btn col s12" 
(click)="onSubmit()" >
 Login bro!!!
 </button>
 <li *ngIf="pass && this.password">  Wrong Information.. Please try again </li>
 </div>

 <button 
 class="waves-effect waves-light btn col s12" >
 <a [routerLink]="['/register']">Register Here bro:!!!!</a>
</button>


 <br>
 <br>
How this works in steps -- 

  <br>
1 - Use subscribe to enter details
<br>
2 - Login to your account
<br>
3 - You can send/accept requests to people
<br>
4 - When accepted , you can send notifications to all their listed devices.
<br>
5 - You can list your devices automatically by logging in from them.
<br>
