<section id="slider">
  <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="block">
                <h1 class="animated fadeInUp"> FireNotif <br> By Sudesh Wasnik</h1>
                <p class="animated fadeInUp">Testing notification on devices using FCM </p>
                <br>
                <p class="animated fadeInUp"> Chatting Project -  </p>
            </div>
            </div>
    </div>

  </div>

</section>
<router-outlet></router-outlet>
